.h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.important {
    color: #336699;
}

#header {
    display: block;
    position: absolute;
    top: 0%;
    padding: 1rem;
}

#content {
    display: flex;
    position: relative;
    top: auto;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#footer {
    display: block;
    position: absolute;
    bottom: 0%;
    padding: 1rem;
}
